name: 4C docker image

on:
  workflow_run:
    workflows: [nightly_tests]
    types: [completed]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/4c-multiphysics/4c

jobs:
  build_4c_image:
    runs-on: ubuntu-latest
    if: ${{ github.repository == '4C-multiphysics/4C' }}
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ${{ env.IMAGE_NAME }}
          labels: |
            org.opencontainers.image.description=Image containing the built 4C code
      - name: Create tags
        id: tags
        # If the nightly tests are successful the docker image is additionally tagged as `stable`
        run: |
          TAGS="${{ env.IMAGE_NAME }}:main"
          if [[ "${{ github.event.workflow_run.conclusion }}" == 'success' ]]; then
            TAGS="$TAGS,${{ env.IMAGE_NAME }}:stable"
          fi
          echo "tags=$TAGS" >> "$GITHUB_OUTPUT"
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: docker/prebuilt_4C/Dockerfile
          push: true
          tags: ${{ steps.tags.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  build_4c_minimal_image:
    runs-on: ubuntu-latest
    if: ${{ github.repository == '4C-multiphysics/4C' }}
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ${{ env.IMAGE_NAME }}-minimal
          labels: |
            org.opencontainers.image.description=Image containing the 4C executable
      - name: Create tags
        id: tags
        # If the nightly tests are successful the docker image is additionally tagged as `stable`
        run: |
          TAGS="${{ env.IMAGE_NAME }}:main"
          if [[ "${{ github.event.workflow_run.conclusion }}" == 'success' ]]; then
            TAGS="$TAGS,${{ env.IMAGE_NAME }}:stable"
          fi
          echo "tags=$TAGS" >> "$GITHUB_OUTPUT"
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: docker/prebuilt_4C_minimal
          file: docker/prebuilt_4C_minimal/Dockerfile
          push: true
          tags: ${{ steps.tags.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
